/*Style end*/

.background {
  background: linear-gradient(rgb(231, 10, 141), rgb(199, 11, 140))
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
   }

.heigth {
  height: 100vh;
}