*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
/*Definicion de estilos para alertas*/
.alert1, .alert2, .alert3 {
  border-radius: 5px;
  display: block;
  font-size: 1.3em;
  text-align: center;
  position: absolute;
  background: #952b2c;
  left: 70%;
  padding: 7px 10px;
  color: #fff;
  z-index: 9999;
   color: white;
   font-size: 10px;
}

.alert1, .alert2, .alert3:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #952b2c;
  border-width: 8px;
  margin-top: -8px;
}
