*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
	font-family: 'Raleway', sans-serif !important;
  color: #fff;
} 
.cont-img-background{
  background: black;
  background-image: url('../assets/img/fondo-lyft.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: bottom; 
}
.cont-register {
  display: flex;
  justify-content:space-around;
  align-items:flex-end;
}
.cregister{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 20%;
  background: transparent;
  width: 35%;
  height: 5vh;
  padding: 3rem;
   border:2px solid white;
   margin-bottom: 4rem;
}
.next-active:hover {
  background-color: #ea0b8c;
  border: none;
  color: white;
  font-weight: bold;

  
}