<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/end.css"> 
  <link rel="stylesheet" href="../css/register.css">
	<title>Lyfe</title>
</head>
<body class="background heigth"> 
  <nav><br>
    <div class="container-fluid background ">
      <div class="row">
        <div class="col-xs-6">
          <a class="ancor" href="../views/form-register.html">
            <div class=" border-glypghicon">
              <h1 class="glyphicon glyphicon-menu-left"></h1>
            </div>
          </a>
        </div>     
        <div class="col-xs-offset-9">
          <a class="ancor" href="../views/register.html">
            <div class=" border-glypghicon">
              <h1 class="glyphicon glyphicon-menu-right"></h1>
            </div>
          </a>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br>
  </nav>
  
<main>
	<div class="container-fluid ">
		<div class="row">
			<div class="col-xs-12 cont-register">					
				<img class="img-responsive img-end" src="../assets/img/plantilla-check.png" alt="">								
			</div>
		</div>
	</div>    
</main>
<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
</body>
</html>